In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly as px
import pickle as pkl

# algo and and estimators
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVR

In [5]:
df = pd.read_csv('../../datasets/house_pricing.csv')
df.head()

         City         Type  Beds  Baths  SquareFeet      Price
0  SACRAMENTO  Residential     2      1         836  138159.85
1  SACRAMENTO  Residential     3      1        1167  167541.46
2  SACRAMENTO  Residential     2      1         796  119095.12
3  SACRAMENTO  Residential     2      1         852  130904.95
4  SACRAMENTO  Residential     2      1         797  120266.19

In [6]:
df.columns

Index(['City', 'Type', 'Beds', 'Baths', 'SquareFeet', 'Price'], dtype='object')

In [7]:
x = df[['Beds', 'Baths', 'SquareFeet']]
y = df['Price']

In [8]:
feature_scaler = StandardScaler()
x = feature_scaler.fit_transform(x)

In [9]:
trainx,testx,trainy,testy = train_test_split(x,y,test_size =.2,random_state = 0)

In [10]:
model = SVR()
model.fit(trainx,trainy)

SVR()

In [11]:
model.score(testx,testy)*100

-11.246280965701217