In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns

In [2]:
df = pd.read_csv('https://gist.githubusercontent.com/noamross/e5d3e859aa0c794be10b/raw/b999fb4425b54c63cab088c0ce2c0d6ce961a563/cars.csv')
df.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [3]:
df.rename(columns={'Unnamed: 0':'model'},inplace=True)

In [4]:
df.to_csv('car_models.csv',index=False)

In [5]:
df.dtypes

model     object
mpg      float64
cyl        int64
disp     float64
hp         int64
drat     float64
wt       float64
qsec     float64
vs         int64
am         int64
gear       int64
carb       int64
dtype: object

In [6]:
df.describe(include='all')

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
unique,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Merc 450SLC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,NaN,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,NaN,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,NaN,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,NaN,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,NaN,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,NaN,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [7]:
df[['mpg','model']]

     mpg                model
0   21.0            Mazda RX4
1   21.0        Mazda RX4 Wag
2   22.8           Datsun 710
3   21.4       Hornet 4 Drive
4   18.7    Hornet Sportabout
5   18.1              Valiant
6   14.3           Duster 360
7   24.4            Merc 240D
8   22.8             Merc 230
9   19.2             Merc 280
10  17.8            Merc 280C
11  16.4           Merc 450SE
12  17.3           Merc 450SL
13  15.2          Merc 450SLC
14  10.4   Cadillac Fleetwood
15  10.4  Lincoln Continental
16  14.7    Chrysler Imperial
17  32.4             Fiat 128
18  30.4          Honda Civic
19  33.9       Toyota Corolla
20  21.5        Toyota Corona
21  15.5     Dodge Challenger
22  15.2          AMC Javelin
23  13.3           Camaro Z28
24  19.2     Pontiac Firebird
25  27.3            Fiat X1-9
26  26.0        Porsche 914-2
27  30.4         Lotus Europa
28  15.8       Ford Pantera L
29  19.7         Ferrari Dino
30  15.0        Maserati Bora
31  21.4           Volvo 142E

In [8]:
df.iloc[:,:5]

                  model   mpg  cyl   disp   hp
0             Mazda RX4  21.0    6  160.0  110
1         Mazda RX4 Wag  21.0    6  160.0  110
2            Datsun 710  22.8    4  108.0   93
3        Hornet 4 Drive  21.4    6  258.0  110
4     Hornet Sportabout  18.7    8  360.0  175
5               Valiant  18.1    6  225.0  105
6            Duster 360  14.3    8  360.0  245
7             Merc 240D  24.4    4  146.7   62
8              Merc 230  22.8    4  140.8   95
9              Merc 280  19.2    6  167.6  123
10            Merc 280C  17.8    6  167.6  123
11           Merc 450SE  16.4    8  275.8  180
12           Merc 450SL  17.3    8  275.8  180
13          Merc 450SLC  15.2    8  275.8  180
14   Cadillac Fleetwood  10.4    8  472.0  205
15  Lincoln Continental  10.4    8  460.0  215
16    Chrysler Imperial  14.7    8  440.0  230
17             Fiat 128  32.4    4   78.7   66
18          Honda Civic  30.4    4   75.7   52
19       Toyota Corolla  33.9    4   71.1   65
20        Toyota Corona  21.5    4  120.1   97
21     Dodge Challenger  15.5    8  318.0  150
22          AMC Javelin  15.2    8  304.0  150
23           Camaro Z28  13.3    8  350.0  245
24     Pontiac Firebird  19.2    8  400.0  175
25            Fiat X1-9  27.3    4   79.0   66
26        Porsche 914-2  26.0    4  120.3   91
27         Lotus Europa  30.4    4   95.1  113
28       Ford Pantera L  15.8    8  351.0  264
29         Ferrari Dino  19.7    6  145.0  175
30        Maserati Bora  15.0    8  301.0  335
31           Volvo 142E  21.4    4  121.0  109

# data wrangling

In [9]:
url = 'auto.csv'
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]
df = pd.read_csv(url,names=headers)
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [10]:
df.replace('?',np.nan,inplace=True)

In [11]:
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [12]:
df.isnull().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

# deal missing data
1. Drop data
      - drop the whole rows
      - drop the whole column
2. Replace data
      - replace it by mean => numeric columns
      - replace it by frequency => categorical or non-numeric
      - replace it by algo => when you need to optimize or automate

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    object
 19  stroke             201 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    object
 22  peak-rpm           203 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [14]:
df['normalized-losses']

0      NaN
1      NaN
2      NaN
3      164
4      164
      ...
200     95
201     95
202     95
203     95
204     95
Name: normalized-losses, Length: 205, dtype: object

In [15]:
mean_norm_loss = df['normalized-losses'].astype(float).mean()
df['normalized-losses'].replace(np.nan,mean_norm_loss)

0      122
1      122
2      122
3      164
4      164
      ...
200     95
201     95
202     95
203     95
204     95
Name: normalized-losses, Length: 205, dtype: object

### simple imputer - a class from sklearn that can fill empty values of column

In [16]:
from sklearn.impute import SimpleImputer

In [17]:
norm_loss_imputer = SimpleImputer()
df['normalized-losses'] = norm_loss_imputer.fit_transform(df[['normalized-losses']])

In [18]:
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [19]:
df['num-of-doors']

0       two
1       two
2       two
3      four
4      four
       ...
200    four
201    four
202    four
203    four
204    four
Name: num-of-doors, Length: 205, dtype: object

In [20]:
doors_loss_imputer = SimpleImputer(strategy='most_frequent')
df['num-of-doors'] = doors_loss_imputer.fit_transform(df[['num-of-doors']])

In [21]:
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [22]:
imputer = SimpleImputer()
out = imputer.fit_transform(df[['bore','stroke']])

In [23]:
 out.astype(float)

array([[3.47      , 2.68      ],
       [3.47      , 2.68      ],
       [2.68      , 3.47      ],
       [3.19      , 3.4       ],
       [3.19      , 3.4       ],
       [3.19      , 3.4       ],
       [3.19      , 3.4       ],
       [3.19      , 3.4       ],
       [3.13      , 3.4       ],
       [3.13      , 3.4       ],
       [3.5       , 2.8       ],
       [3.5       , 2.8       ],
       [3.31      , 3.19      ],
       [3.31      , 3.19      ],
       [3.31      , 3.19      ],
       [3.62      , 3.39      ],
       [3.62      , 3.39      ],
       [3.62      , 3.39      ],
       [2.91      , 3.03      ],
       [3.03      , 3.11      ],
       [3.03      , 3.11      ],
       [2.97      , 3.23      ],
       [2.97      , 3.23      ],
       [3.03      , 3.39      ],
       [2.97      , 3.23      ],
       [2.97      , 3.23      ],
       [2.97      , 3.23      ],
       [3.03      , 3.39      ],
       [3.34      , 3.46      ],
       [3.6       , 3.9       ],
       [2.91      , 3.41      ],
       [2.91      , 3.41      ],
       [2.91      , 3.07      ],
       [2.91      , 3.41      ],
       [2.91      , 3.41      ],
       [2.91      , 3.41      ],
       [2.92      , 3.41      ],
       [3.15      , 3.58      ],
       [3.15      , 3.58      ],
       [3.15      , 3.58      ],
       [3.15      , 3.58      ],
       [3.15      , 3.58      ],
       [3.15      , 3.58      ],
       [3.31      , 3.23      ],
       [3.03      , 3.11      ],
       [3.03      , 3.11      ],
       [3.43      , 3.23      ],
       [3.63      , 4.17      ],
       [3.63      , 4.17      ],
       [3.54      , 2.76      ],
       [3.03      , 3.15      ],
       [3.03      , 3.15      ],
       [3.03      , 3.15      ],
       [3.03      , 3.15      ],
       [3.08      , 3.15      ],
       [3.32975124, 3.25542289],
       [3.32975124, 3.25542289],
       [3.32975124, 3.25542289],
       [3.32975124, 3.25542289],
       [3.39      , 3.39      ],
       [3.39      , 3.39      ],
       [3.39      , 3.39      ],
       [3.39      , 3.39      ],
       [3.39      , 3.39      ],
       [3.39      , 3.39      ],
       [3.76      , 3.16      ],
       [3.43      , 3.64      ],
       [3.58      , 3.64      ],
       [3.58      , 3.64      ],
       [3.58      , 3.64      ],
       [3.58      , 3.64      ],
       [3.46      , 3.1       ],
       [3.46      , 3.1       ],
       [3.8       , 3.35      ],
       [3.8       , 3.35      ],
       [3.78      , 3.12      ],
       [2.97      , 3.23      ],
       [2.97      , 3.23      ],
       [2.97      , 3.23      ],
       [3.03      , 3.39      ],
       [3.17      , 3.46      ],
       [3.35      , 3.46      ],
       [3.58      , 3.86      ],
       [3.59      , 3.86      ],
       [3.59      , 3.86      ],
       [3.35      , 3.46      ],
       [3.35      , 3.46      ],
       [3.17      , 3.46      ],
       [3.17      , 3.46      ],
       [3.15      , 3.29      ],
       [2.99      , 3.47      ],
       [3.15      , 3.29      ],
       [3.15      , 3.29      ],
       [3.15      , 3.29      ],
       [3.15      , 3.29      ],
       [3.15      , 3.29      ],
       [3.15      , 3.29      ],
       [3.15      , 3.29      ],
       [3.15      , 3.29      ],
       [3.33      , 3.47      ],
       [3.33      , 3.47      ],
       [3.43      , 3.27      ],
       [3.43      , 3.27      ],
       [3.43      , 3.27      ],
       [3.43      , 3.27      ],
       [3.43      , 3.27      ],
       [3.43      , 3.27      ],
       [3.46      , 3.19      ],
       [3.7       , 3.52      ],
       [3.46      , 3.19      ],
       [3.7       , 3.52      ],
       [3.46      , 2.19      ],
       [3.7       , 3.52      ],
       [3.46      , 2.19      ],
       [3.7       , 3.52      ],
       [3.46      , 3.19      ],
       [3.7       , 3.52      ],
       [3.61      , 3.21      ],
       [2.97      , 3.23      ],
       [3.03      , 3.39      ],
       [2.97      , 3.23      ],
       [2.97      , 3.23      ],
       [2.97      , 3.23      ],
       [3.35      , 3.46      ],
       [3.59      , 3.86      ],
       [3.94      , 3.11      ],
       [3.74      , 2.9       ],
       [3.74      , 2.9       ],
       [3.74      , 2.9       ],
       [3.94      , 3.11      ],
       [3.46      , 3.9       ],
       [3.46      , 3.9       ],
       [3.54      , 3.07      ],
       [3.54      , 3.07      ],
       [2.54      , 2.07      ],
       [3.54      , 3.07      ],
       [3.54      , 3.07      ],
       [3.54      , 3.07      ],
       [3.62      , 2.36      ],
       [3.62      , 2.64      ],
       [3.62      , 2.64      ],
       [3.62      , 2.64      ],
       [3.62      , 2.64      ],
       [3.62      , 2.64      ],
       [3.62      , 2.64      ],
       [3.62      , 2.64      ],
       [3.62      , 2.64      ],
       [3.62      , 2.64      ],
       [3.62      , 2.64      ],
       [3.62      , 2.64      ],
       [3.05      , 3.03      ],
       [3.05      , 3.03      ],
       [3.05      , 3.03      ],
       [3.05      , 3.03      ],
       [3.05      , 3.03      ],
       [3.05      , 3.03      ],
       [3.19      , 3.03      ],
       [3.19      , 3.03      ],
       [3.27      , 3.35      ],
       [3.27      , 3.35      ],
       [3.19      , 3.03      ],
       [3.19      , 3.03      ],
       [3.19      , 3.03      ],
       [3.19      , 3.03      ],
       [3.19      , 3.03      ],
       [3.24      , 3.08      ],
       [3.24      , 3.08      ],
       [3.62      , 3.5       ],
       [3.62      , 3.5       ],
       [3.62      , 3.5       ],
       [3.62      , 3.5       ],
       [3.62      , 3.5       ],
       [3.62      , 3.5       ],
       [3.31      , 3.54      ],
       [3.27      , 3.35      ],
       [3.31      , 3.54      ],
       [3.31      , 3.54      ],
       [3.31      , 3.54      ],
       [3.27      , 3.35      ],
       [3.27      , 3.35      ],
       [3.27      , 3.35      ],
       [3.27      , 3.35      ],
       [3.01      , 3.4       ],
       [3.19      , 3.4       ],
       [3.01      , 3.4       ],
       [3.19      , 3.4       ],
       [3.19      , 3.4       ],
       [3.01      , 3.4       ],
       [3.19      , 3.4       ],
       [3.19      , 3.4       ],
       [3.19      , 3.4       ],
       [3.19      , 3.4       ],
       [3.01      , 3.4       ],
       [3.19      , 3.4       ],
       [3.78      , 3.15      ],
       [3.78      , 3.15      ],
       [3.78      , 3.15      ],
       [3.78      , 3.15      ],
       [3.62      , 3.15      ],
       [3.62      , 3.15      ],
       [3.78      , 3.15      ],
       [3.78      , 3.15      ],
       [3.58      , 2.87      ],
       [3.01      , 3.4       ],
       [3.78      , 3.15      ]])

In [24]:
df['bore'] = out[:,0]
df['stroke'] = out[:,1]

In [25]:
df.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           2
peak-rpm             2
city-mpg             0
highway-mpg          0
price                4
dtype: int64

In [26]:
hpp_imputer = SimpleImputer()
hpp = hpp_imputer.fit_transform(df[['horsepower','peak-rpm','price']])

In [27]:
df['horsepower'] = hpp[:,0]
df['peak-rpm'] = hpp[:,1]
df['price'] = hpp[:,2]

In [28]:
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0
201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045.0
202,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0
203,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0
204,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0

# Converting Categorical Data

 - encode directly to numbers
     - If categories are 2 in number
     - we use 'LabelEncoder' for this task
     - sklearn.preprocessing.LabelEncoder
 - encode data to indicator/dummy variables
     - If categories are more than 2
     - we use 'one hot encoder' for this task
     - sklearn.preprocessing.OneHotEncoder

In [29]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [30]:
auto_make_hot_encode = OneHotEncoder()
auto_make_hot_encode.fit_transform(df[['make']]).toarray()

array([[1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [31]:
auto_make_hot_encode.transform([['bmw']]).toarray()

array([[0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0.]])

In [32]:
pd.get_dummies(df['make']) # this is used in analysis not in prediction

,alfa-romero,audi,bmw,chevrolet,dodge,honda,isuzu,jaguar,mazda,mercedes-benz,...,nissan,peugot,plymouth,porsche,renault,saab,subaru,toyota,volkswagen,volvo
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
201,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
202,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
203,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
204,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [33]:
pd.get_dummies(df['aspiration'])

     std  turbo
0      1      0
1      1      0
2      1      0
3      1      0
4      1      0
..   ...    ...
200    1      0
201    0      1
202    1      0
203    0      1
204    0      1

[205 rows x 2 columns]